
.formWrapper .gfield {
  position: relative;
}

form.formWrapper .gform_fields .gfield label.gfield_label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  transition: all .3s ease;
}

form.formWrapper .gform_fields .gfield label.gfield_label.focused {
  font-size: 12px;
  top: 0;
}
