/* gravity gogole material */


.formWrapper .gfield {
  position: relative;
}

.formWrapper form .gform_fields .gfield label.gfield_label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    transition: all .3s ease;
    font-weight: 400;
    color: #435A70;
    font-size: 18px;
    padding-left: 0px;
  }

.formWrapper form .gform_fields .gfield label.gfield_label.focused {
  font-size: 12px;
  top: 0;
}

.formWrapper form .gform_fields .gfield:not( .gfield) .gfield_label {
  font-weight: 400;
  color: #435A70;
  padding-left: 10px;
  font-size: 15px;
}

.formWrapper form .gform_fields .gfield.gfield_error   label.gfield_label{
  top: 40%;
}
.formWrapper form .gform_fields .gfield.gfield_error input {
  border-bottom: 1px solid #c02b0a;
}

.formWrapper form .gform_fields .gfield label.gfield_label.focused {
  font-size: 12px !important;
  top: 8px !important;
}

.formWrapper form .gform_fields .gfield input,
.formWrapper form .gform_fields .gfield select,
.formWrapper form .gform_fields .gfield textarea {
  font-weight: 700;
  color: #05305C;
  border: 0;
  border-bottom: 1px #05305C solid;
  border-radius: 0;
  font-size: 18px;
}

.formWrapper form .gform_fields .gfield input[type='text'],
.formWrapper form .gform_fields .gfield input[type='tel'],
.formWrapper form .gform_fields .gfield input[type='email'],
.formWrapper form .gform_fields .gfield select{
    padding: 20px 15px 5px 0; height: 60px;
}

/* step */
  .gform_wrapper.gravity-theme .gf_step_active .gf_step_number{
    background-color: #0066CC !important;
    color: white !important;
    border: 0;
    font-size: 20px;
  }

  .gform_wrapper.gravity-theme .gf_step_label{
    font-size: 18px;
    color: #5B6F82;
    font-weight: 400;
    text-transform: uppercase;
  }
  .gform_wrapper.gravity-theme .gf_step_number{
    background: white !important;
    border: 0 !important;
    border-radius: 20px !important;
    color: #585e6a !important;
    font-size: 20px !important;
    font-weight: 500 !important;
    height: 40px !important;
    text-align: center !important; 
    width: 40px !important;
  }
  .gform_wrapper.gravity-theme .gf_step_completed .gf_step_number{
    background-color: #0066CC !important;
    color: white !important;
    border: 0;
    font-size: 20px;
  }
  .gform_wrapper.gravity-theme .gf_step_active .gf_step_label,
  .gform_wrapper.gravity-theme .gf_step_completed .gf_step_label{
    color: #0066CC;
  }
  .formWrapper .gf_page_steps{
    border-bottom: 0 !important;
  }
  .gform_wrapper.gravity-theme .gf_step_completed .gf_step_number::after,
  .gform_wrapper.gravity-theme .gf_step_completed .gf_step_number::before{
    content: none !important;
  }


  .formWrapper input[type='radio'],
  .formWrapper input[type='checkbox']{
    position: relative;
  }

  .formWrapper form .gform_fields .gfield input.gfield-choice-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #043767;
    border-radius: 50%;
    margin-right: 5px;
    position: relative;
    margin-top: 3px!important;
    vertical-align: top;
   }
  .gfield-choice-input[type=checkbox]:checked:before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: #043767;
        border-radius: 50%;
        top: 2px;
        left: 2px;
    }
/* fine gravity gogole material */
