:root {
	--white-color: #fff;
	--nobackground-border-text-color: #818E8D;
    --robins-egg-blue: #707070;
    --pattens-blue: #d2e5ef;
    --strong-red: #c02b0a;

    --title-color: #707070;

    --label-color: #707070;
    --label-color-focused: #707070;
    --label-error-color: #c02b0a;
    --label-required-color: #707070;
    --label-background-color: transparent;

    --label-focused: #707070;
    --label-focused-background-color: #fff;

    --input-text-color: #707070;
    --input-border-color: #707070;
    --input-background-color: transparent;

    --input-file-upload-color: #707070;

    --input-submit-text-color: #FFFFFF;
    --input-submit-previus-text-color:#707070; 
    --input-submit-previus-border-color: #707070;
    --input-submit-background-color: #707070;

    --gfield-error-input-color: #c02b0a;

    --input-choice-checkbox: #707070;
    --input-choice-checkbox-leggend: #707070;
    --input-choice-checkbox-label: #707070;
    --input-choice-checkbox-label-link: #707070;
    --input-choice-checkbox-border: #707070;
    --input-choice-checkbox-border-selected: #707070; 
    --input-choice-checkbox-border-override: transparent;
    --input-choice-checkbox-border-error: #c02b0a;
    --input-choice-checkbox-background: #707070;
    --input-choice-checkbox-background-error: #c02b0a;

    --input-choice-radio-background: #FFFFFF;
    --input-choice-radio-center-background: #707070;
    --input-choice-radio-border-color-checked: #707070;

    --step-number-color: #FFFFFF;
    --step-number-background-color: #D6DEDE;
    --step-number-active-color: #FFFFFF;
    --step-number-active-background-color: #707070;
    --step-number-complete-color: #707070;

    --step-label-color: #707070;
    --step-label-active-complete-color: #707070;

    --required-text-footer-color: #707070;
}

/*
/* tabs moduli *
.moduli .kt-tabs-title-list li.kt-tab-title-inactive a {
    border-radius: 0;
}
.moduli .kt-tabs-wrap .kt-title-item.kt-tab-title-inactive {
    margin-top: 8px!important;
}
/* element next to active *
.moduli .kt-title-item.kt-title-item-1.kt-tab-title-active + .kt-title-item.kt-title-item-2.kt-tab-title-inactive > a{
    border-top-left-radius: 0px !important;
}
/* element before active *
.moduli .kt-title-item.kt-title-item-1.kt-tab-title-inactive > a {
    border-top-right-radius: 0px !important;
}
*/

/* title */
.gform_heading .gform_title {
    color: var(--title-color);
}
/* end title */

/* progress bar */
.gform_wrapper.gravity-theme form[id^='gform'] p.gf_progressbar_title {
    color: var(--robins-egg-blue);
}
.gform_wrapper.gravity-theme form[id^='gform'] .gf_progressbar {
    background: var(--pattens-blue);
}
.gform_wrapper.gravity-theme form[id^='gform'] .gf_progressbar_percentage.percentbar_green {
    background-color: var(--robins-egg-blue);
}
.gform_wrapper.gravity-theme .gf_progressbar_percentage.percentbar_green.percentbar_100 {
    background-color: var(--robins-egg-blue);
}
/* END progress bar */

/* step */
.gform_wrapper.gravity-theme form[id^='gform'] .gf_step_active .gf_step_number {
	background-color: var(--step-number-active-background-color);
	color: var(--step-number-active-color);
}
.gform_wrapper.gravity-theme .gf_step_label {
	color: var(--step-label-color);
}
.gform_wrapper.gravity-theme form[id^='gform'] .gf_step_number {
	background: var(--step-number-background-color);
	color: var(--step-number-color);
}
.gform_wrapper.gravity-theme form[id^='gform'] .gf_step_completed .gf_step_number {
	background-color: var(--step-number-complete-color);
	color: var(--white-color);
}
.gform_wrapper.gravity-theme form[id^='gform'] .gf_step_active .gf_step_label,
.gform_wrapper.gravity-theme form[id^='gform'] .gf_step_completed .gf_step_label {
	color: var(--step-label-active-complete-color);
}
/* end steps */

/* label */
.gform_wrapper.gravity-theme form[id^='gform'] .gfield_label.gform-field-label {
	color: var(--label-color);
    left: 15px;
}
.gform_wrapper.gravity-theme form[id^='gform'] .gfield label.gfield_label.focused {
    color: var(--label-color-focused);
    background-color: var(--white-color);
    left: 5px;
    padding: 3px;
}
.gform_wrapper.gravity-theme form[id^='gform'] .gfield.gfield--type-date .gfield_label.focused {
    color: var(--label-color-focused);
    background-color: var(--white-color);
    left: 5px;
    padding: 3px;
}
.gform_wrapper.gravity-theme form[id^='gform'] .gfield.gfield--type-time .gfield_label.focused {
    color: var(--label-color-focused);
    background-color: var(--white-color);
    left: 5px;
    padding: 3px;
}
.gform_wrapper.gravity-theme form[id^='gform'] .gfield.gfield--type-email > .gfield_label.gform-field-label.focused {
    background-color: var(--white-color);
    left: 5px;
    padding: 3px;
}
.gform_wrapper.gravity-theme form[id^='gform'] .gfield_required {
    color: var(--label-required-color);
}

.gform_wrapper.gravity-theme form[id^='gform'] .gfield_error .gfield_label.gform-field-label {
    color: var(--label-error-color);
}
.gform_wrapper.gravity-theme form[id^='gform'] .gfield.gfield--type-date.gfield_error .gfield_label.focused {
    color: var(--label-error-color);
}
.gform_wrapper.gravity-theme form[id^='gform'] .gfield.gfield--type-time.gfield_error .gfield_label.focused {
    color: var(--label-error-color);
}
.gform_wrapper.gravity-theme form[id^='gform'] .gfield_error .gfield_required {
    color: var(--label-error-color);
}
.gform_wrapper.gravity-theme form[id^='gform'] .gfield_error .gfield_checkbox label {
    color: var(--label-error-color);
}
.gform_wrapper.gravity-theme form[id^='gform'] .gfield_error .gfield_checkbox label > a {
    color: var(--label-error-color);
}
/* end label */


/* input */
.gform_wrapper.gravity-theme form[id^='gform'] input:not([type='file']):not([type='checkbox']):not([type='radio']):not([type='submit']):not([type='button']),
.gform_wrapper.gravity-theme form[id^='gform'] textarea,
.gform_wrapper.gravity-theme form[id^='gform'] select {
    border: 1px solid var(--input-border-color);
    color: var(--input-text-color);
    padding: 10px 15px 5px 5px;
}

.gform_wrapper.gravity-theme form[id^='gform'] .gfield_error input:not([type='file']):not([type='checkbox']):not([type='radio']):not([type='submit']):not([type='button']),
.gform_wrapper.gravity-theme form[id^='gform'] .gfield_error textarea,
.gform_wrapper.gravity-theme form[id^='gform'] .gfield_error select {
    color: var(--gfield-error-input-color);
}

.gform_wrapper.gravity-theme form[id^='gform'] .gfield_error select[aria-invalid=true],
.gform_wrapper.gravity-theme form[id^='gform'] .gfield_error textarea[aria-invalid=true] {
    border-bottom-color: 2px solid var(--input-border-color);
}
/* end input */

/* checkbox  */
.gform_wrapper.gravity-theme form[id^='gform'] .gfield.gfield--type-checkbox > legend {
    color: var(--input-choice-checkbox-leggend);
    left: 0;
}
.gform_wrapper.gravity-theme form[id^='gform'] .gfield_checkbox label {
    color: var(--input-choice-checkbox-label);
}
.gform_wrapper.gravity-theme form[id^='gform'] .gfield_checkbox label a {
    color: var(--input-choice-checkbox-label-link);
}
.gform_wrapper.gravity-theme form[id^='gform'] input.gfield-choice-input {
	border: 2px solid var(--input-choice-checkbox-border);
}
.gform_wrapper.gravity-theme form[id^='gform'] .gfield-choice-input[type=checkbox]:checked{
    border: 2px solid var(--input-choice-checkbox-border-selected);
}
.gform_wrapper.gravity-theme form[id^='gform'] .gfield-choice-input[type=checkbox]:checked:before {
	background-color: var(--input-choice-checkbox-background);
    border-radius: 0;
}

.gform_wrapper.gravity-theme form[id^='gform'] .gfield_error .gfield-choice-input[type=checkbox]:checked {
    border: 2px solid var(--input-choice-checkbox-border-error);
}
.gform_wrapper.gravity-theme form[id^='gform'] .gfield_error .gfield-choice-input[type=checkbox]:checked:before {
    background-color: var(--input-choice-checkbox-background-error);
}
.gform_wrapper.gravity-theme form[id^='gform'] .gfield_error input.gfield-choice-input {
    border: 2px solid var(--input-choice-checkbox-border-error);
}

/* override checkbox - se si vuole personalizzare lo sfondo di una checkbox decommentare di seguito */
.gform_wrapper.gravity-theme form[id^='gform'] .gfield-choice-input[type=checkbox]:checked:before {
    width: 14px;
    height: 14px;
    top: 0;
    left: 0;
}
.gform_wrapper.gravity-theme form[id^='gform'] .gfield-choice-input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid var(--white-color);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 1px;
    left: 5px;
}

/* checkbox type radio */
.gform_wrapper.gravity-theme form[id^='gform'] input[type=radio]:before {
    background-color: var(--input-choice-radio-center-background);
}
.gform_wrapper.gravity-theme form[id^='gform'] input[type=radio]:checked {
    background-color: var(--input-choice-radio-background);
    border-color: var(--input-choice-radio-border-color-checked);
}
.gform_wrapper.gravity-theme form[id^='gform'] .gfield-choice-input[type=radio]:checked:before {
    background-color: var(--input-choice-radio-center-background);
}
/* end override checkbox */


/* Trasforma il pulsante input file upload input[type="file"] */
/* Chrome, Safari */
/*#gform_8 ::-webkit-file-upload-button {*/
.gform_wrapper.gravity-theme form[id^='gform'] input[type="file"]::-webkit-file-upload-button {
    background: var(--robins-egg-blue);
    border-color: var(--robins-egg-blue);
    color: var(--white-color);
}
/*input[type="file"]::file-selector-button {*/
.gform_wrapper.gravity-theme form[id^='gform'] input[type="file"]::file-selector-button {
    background: var(--robins-egg-blue);
    border-color: var(--robins-egg-blue);
    color: var(--white-color);
}
/* Edge */
/*#gform_8 ::file-upload-button{*/
.gform_wrapper.gravity-theme form[id^='gform'] input[type="file"]::file-upload-button{
    background: var(--robins-egg-blue);
    border-color: var(--robins-egg-blue);
    color: var(--white-color);
}
.gform_wrapper.gravity-theme form[id^='gform'] .gfield.gfield--type-fileupload i.fa.fa-upload {
	color: var(--white-color);
}

.gform_wrapper.gravity-theme form[id^='gform'] .gfield.gfield--type-fileupload .gform_delete_file {
    background-color: var(--robins-egg-blue);
    color: var(--white-color);
}

/* error */
.gform_wrapper.gravity-theme form[id^='gform'] .gfield.gfield--type-fileupload.gfield_error label.gfield_label.focused {
    color: var(--strong-red);
}
.gform_wrapper.gravity-theme form[id^='gform'] .gfield.gfield--type-fileupload.gfield_error .gfield_description {
    color: var(--strong-red);
}
.gform_wrapper.gravity-theme form[id^='gform'] .gfield.gfield--type-fileupload.gfield_error .gfield_fileupload_filename {
    color: var(--strong-red);
}
.gform_wrapper.gravity-theme form[id^='gform'] .gfield.gfield--type-fileupload.gfield_error .gform_delete_file {
    background-color: var(--strong-red);
    color: var(--white-color);
}

/* Chrome, Safari */
/*#gform_8 ::-webkit-file-upload-button {*/
.gform_wrapper.gravity-theme form[id^='gform'] .gfield_error input[type="file"]::-webkit-file-upload-button {
    background: var(--strong-red);
    border-color: var(--strong-red);
    color: var(--white-color);
}
/*input[type="file"]::file-selector-button {*/
.gform_wrapper.gravity-theme form[id^='gform'] .gfield_error input[type="file"]::file-selector-button {
    background: var(--strong-red);
    border-color: var(--strong-red);
    color: var(--white-color);
}
/* Edge */
/*#gform_8 ::file-upload-button{*/
.gform_wrapper.gravity-theme form[id^='gform'] .gfield_error input[type="file"]::file-upload-button{
    background: var(--strong-red);
    border-color: var(--strong-red);
    color: var(--white-color);
}
.gform_wrapper.gravity-theme form[id^='gform'] .gfield_error .gfield.gfield--type-fileupload i.fa.fa-upload {
    color: var(--white-color);
}
/* END: pulsante input file upload input[type="file"] */

/* gform footer (submit container) */
.gform_wrapper.gravity-theme form[id^='gform'] .gform_footer .required-text ,
.gform_wrapper.gravity-theme form[id^='gform'] .gform_page_footer .required-text {
	color: var(--required-text-footer-color);
}
.gform_wrapper.gravity-theme form[id^='gform'] .gform_footer input[type='submit'],
.gform_wrapper.gravity-theme form[id^='gform'] .gform_page_footer input[type='submit'],
.gform_wrapper.gravity-theme form[id^='gform'] .gform_page_footer .gform_previous_button,
.gform_wrapper.gravity-theme form[id^='gform'] .gform_page_footer .gform_next_button {
	background-color: var(--input-submit-background-color);
    color: var(--input-submit-text-color);
    width: auto;
    border-radius: 6px;
}
.gform_wrapper.gravity-theme form[id^='gform'] .gform_page_footer .gform_previous_button {
    background-color: transparent;
    border: 2px solid var(--input-border-color);
    color: var(--input-submit-previus-text-color);
}

/* form step 'continua' button */
.gform_wrapper.gravity-theme .gform_page_footer {
    grid-template-columns: 1fr !important;
}

/* se si vuole l'icona all'interno del pulsante submit, decommentare di seguito */
/*
form[id^='gform'] .gform_footer input[type='submit'] {
    background: url('/wp-content/themes/blocksy-child/gravity/inc/images/arrow-right.png');
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 55px;
}
*/
/* end gform footer (submit container) */

/* error, validation container sopra form */
/*.gform_wrapper.gravity-theme .gform_validation_errors {
    margin-bottom: 20px !important;
}*/

