

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #222;
    color: #fff;
    padding: 10%
}

* {cursor:none}
.outline {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    border: 1px solid #fff;
    position: fixed;
    top: 0; left:0;
    z-index: 999999;
    mix-blend-mode: difference;
    transform: translate(-64px, -64px);
}

.cursor {
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 100%;
    position: fixed;
    top: 0; left:0;
    z-index: 999999;
    transform: translate(-8px, -8px);
}


